# Do not format md documents that contain tables.
docs/common-tools/cheat-sheet/*.md

# Contains code focus related fragments, formatting will cause formatting errors
docs/specification/create-vue/summary.md

# prettier doesn't respect newlines between chained methods
# https://github.com/prettier/prettier/issues/7884
**/*.spec.js
**/*.spec.ts
**/dist
# https://github.com/prettier/prettier/issues/5246
**/*.html