/* 引入字体 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 根变量覆盖 */
:root {
  --vp-code-color: #3451b2;
  --vp-c-border: transparent;
  --vp-font-family-base: "Noto Sans SC", arial, sans-serif;
  --vp-font-family-mono: "Roboto Mono", monospace;

  /* 标题 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #fccf31 10%,
    #f55555 100%
  );

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);

  --vp-home-hero-image-filter: blur(72px);

  /* brand主按钮背景色 */
  --vp-button-brand-bg: #f19b53;
  --vp-button-brand-hover-bg: #efb452;
  --vp-button-brand-border: transparent;
  --vp-button-brand-hover-border: transparent;

  /* 主要颜色值 */
  --vp-c-brand: #e46b59;
}

/* .dark 暗黑模式下修改行内代码颜色值 */
.dark {
  /* 行内代码颜色 */
  --vp-code-color: #a8b1ff;
  /* 主要颜色值 */
  --vp-c-brand: #f8d367;
}

/* 修改默认light模式下行内代码颜色 */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  color: var(--vp-code-color);
}
